<h1 id="about" class="titleAcerca"> quickElectronic </h1>
<h3> Bienvenido a quickElectronic!!! </h3>

<div class="contenedorAcerca">
	<p> quickElectronic es una aplicación web pensada y diseñada para aquellos estudiantes de ISD'R que se encuentran iniciando su carrera y tienen el interés de familiarizarse lo más rápido posible con los componentes electrónicos que estarán utilizando durante la carrera. </p>

	 <p> En esta aplicación se encuentra información relevante acerca de algunos componentes electrónicos básicos, una sección de videos acerca del uso de algunos componentes, así como un buscador para realizar búsquedas de otros videos relacionados con los componentes electrónicos. De igual forma, se encuentran una sección de blog, donde es un espacio destinado para que los usuarios pueden preguntar dudas que les surgan acerca de algún componente. Y en la sección de tiendas viene una lista de tiendas localizadas en Monterrey donde se pueden comprar los componentes.</p>
</div>

