<h1>Blog</h1>
<div class="col">
	{{#each comments as |comment|}}	
	<div class="lista">
		<div class="separa">
			<div class= "card-body">
				<p> Comentario: {{comment.comment}}</p>
				<p> Autor: {{comment.postedBy}} </p> 
			</div>
		</div>
	</div>
	{{/each}}
</div>
<div class="card mt-2">
	<div class="card-header d-flex justify-content-between align-items-center">
		<h4> Comentarios </h4>
	</div>
	<div class="card-body">
		<ul class="list-group">
			{{#each comments as |comment|}}	
				<li class="list-group-item">
					<div class="row">
						<blockquote>
								{{comment.comment}}
						</blockquote>
					</div>
					<div class="row" d-flex justify-content-between align-items-center>
						Publicado por: 
						<blockquote>
								{{comment.postedBy}}
						</blockquote>
					</div>
				</li>
			{{/each}}
		</ul>
		<blockquote>
			<form action="/componentes/comentar" method="POST">
				<div class="form-group">
					<textarea name="comment" rows="2" class="form-control" placeholder="Agrega un comentario"></textarea>
				</div>
				<div class="form-group">
					Usuario:
					<input type="text" name="postedBy" rows="2" class="form-control" placeholder="Agrega tu nombre">
				</div>
				<div class="form-group">
					<button class="btn btn-success" id="btn-comment">
						<i class="fa fa-comment"></i> Agregar
					</button>
				</div>
			</form>
		</blockquote>
	</div>
</div>
