<h1>Blog</h1>
<div class="card mt-2">
	<div class="card-header d-flex justify-content-between align-items-center">
		<h4> Comentarios </h4>
	</div>
	<div class="card-body">
		<ul class="list-group">
			{{#each comments}}
				<li class="list-group-item">
					<div class="row">
						<blockquote>
								{{comment}}
						</blockquote>
					</div>
					<div class="row" d-flex justify-content-between align-items-center>
						Publicado por: 
						<blockquote>
								{{postedBy}}
						</blockquote>
					</div>
				</li>
				<form action="/componentes/deleteCom/{{_id}}?_method=DELETE" method="POST">
				<input type="hidden" name="_method" value="DELETE">
					<button class="btnDelete" type="submit">
						Eliminar comentario
					</button>
				</form>
			{{/each}}
		</ul>
		<blockquote>
			<form action="/componentes/{{postcomment._id}}/comentar" method="POST">
				<div class="form-group">
					<textarea name="comment" rows="2" class="form-control" placeholder="Agrega un comentario"></textarea>
				</div>
				<div class="form-group">
					Posted by:
					<input type="text" name="postedBy" rows="2" class="form-control" placeholder="Agrega tu nombre">
				</div>
				<div class="form-group">
					<button class="btn btn-success" id="btn-comment">
						<i class="fa fa-comment"></i> Agregar
					</button>
				</div>
			</form>
		</blockquote>
	</div>
</div>
<br>
<div class="form-group">
	<a href="/componentes" class="btn btn-success">Back</a>
</div>



	

