<h1>Tiendas</h1>
<div class="topTiendas">
	<div class="lionchip">
		<a href="https://www.lionchipmexico.com/" target="_blank">
			<img src="/img/lionchip2.jpg" alt="Lionchip" />
				<h3>Lionchip</h3>
					</a>
				</div>

				<div class="electronica">
					<a href="http://semty.mx/index.php" target="_blank">
						<img src="/img/electronica2.JPG" alt="Electronica" />
						<h3>Electrónica para estudiantes</h3>
					</a>
				</div>

				<div class="techmake">
					<a href="https://techmake.com/" target="_blank">
						<img src="/img/techmake.jpg" alt="Techmake" />
						<h3>Techmake</h3>
					</a>
				</div>
</div>

<div class="bottomTiendas">
				<div class="inteligencia">
					<a href="https://www.facebook.com/Inteligencia-Robotica-Digital-Do%C3%B1a-Chip-820279604661519/" target="_blank">
						<img src="/img/inteligencia.jpg" alt="Inteligencia" />
						<h3>Inteligencia Robótica Digital</h3>
					</a>
				</div>

				<div class="mecatronium">
					<a href="https://chips.mecatronium.com/" target="_blank">
						<img src="/img/mecatronium.png" alt="Mecatronium" />
						<h3>Mecatronium chips</h3>
					</a>
				</div>

				<div class="steren">
					<a href="https://www.steren.com.mx/" target="_blank">
						<img src="/img/steren2.jpg" alt="Steren" />
						<h3>Steren</h3>
					</a>
				</div>
</div>