<h1>Videos</h1>
<diV class="top">
				<div class="videoEstilos">
					<h3>Resistencias</h3>
					<iframe width="400" height="300" src="https://www.youtube.com/embed/C6d1hYmZhqo"></iframe>
				</div>

				<div class="estilo videoEstilos">
					<h3>Leds</h3>
					<iframe width="400" height="300" src="https://www.youtube.com/embed/yUPLoJvvw5U"></iframe>
				</div>

				<div class="estilo videoEstilos">
					<h3>Capacitores</h3>
					<iframe width="400" height="300" src="https://www.youtube.com/embed/7jpS3FHmoWU"></iframe>
				</div>
			</diV>

			<div class="bottom">
				<div class="videoEstilos">
					<h3>Multimetro</h3>
					<iframe width="400" height="300" src="https://www.youtube.com/embed/SHM0HUnGVIM"></iframe>
				</div>

				<div class="videoEstilos">
					<h3>Protoboard</h3>
					<iframe width="400" height="300" src="https://www.youtube.com/embed/ulsv7uxDZoc"></iframe>
				</div>
			</div>
<h2>Búsqueda de videos</h2>
		<section class="buscar">
			<form>
				<label for="search">
					Video: <input type="text" id="search" />
				</label>
				<input type="submit" value="Buscar" id="submitButton" class="botonesYTb" />
			</form>
		</section>

		<section>
			<div id="resultVideos">
			</div>
			<button type="button" class="ytButton botonesYTb" id="prevButton"> Anterior </button>
			<button type="button" class="ytButton botonesYTb" id="nextButton"> Siguiente </button>
		</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="./videos.js" type="text/javascript"></script>